@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');

body {
    padding: 0;
    margin: 0;
    height: 800px;
}

a {
    text-decoration: none;
}

header {
    display: unset;
}

nav {
    position:sticky;
    position:-webkit-sticky;
    top: 0px;
    z-index: 4;
    background-color: rgb(251, 80, 18);
    height: 75px;
}

#nav_bar {
    height: 100%;
    transform: translateY(25px);
}

#right-side {
    position: absolute;
    top: 5px;
    left: 50%;
    height: 100%;
    width: 30%;
    padding-left: 15%;
    padding-right: 5%;
}

#title {
    padding: 0 0 0 5%;
    text-decoration: none;
    color: rgb(238, 239, 241);
    font-size: 24px;
    font-family: 'Averia Serif Libre', serif;
    border: none;
    background-color: transparent;
}

#title:hover {
    cursor: pointer;
}

#sucks:hover {
    transition: 1s;
    font-size: 22px;
    color: red;
}

.menu-options {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}
.menu-item {
    text-decoration: none;
    color: rgb(238, 239, 241);
    font-size: 16px;
    align-items: center;
    font-family: 'Averia Serif Libre', serif;
}
.menu-item:visited {
    text-decoration: none;
    color: rgb(238, 239, 241);
}
.menu-item:focus {
    text-decoration: none;
    color: rgb(238, 239, 241);
}
.menu-item:hover {
    cursor: pointer;
    transition: 0.3s;
    filter: drop-shadow(3px 3px 3px rgba(0, 41, 23, 0.75));
}

.semicircle {
    width: 125px;
    height: 62.5px;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%);
    background-color: rgb(251, 80, 18);
    border-radius: 0 0 62.5px 62.5px;

}

#logo {
    display: block;
    backdrop-filter: drop-shadow(10px 10px 10px black);
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translate(-48%);
    z-index: 5;
}

#logo:hover {
    cursor: pointer;
}

#main {
    font-family: 'Averia Serif Libre', serif;
}

#header {
    position: absolute;
    top: 12%;
    left: 10%;
    font-size: min(60px, calc(24px + 4vw));
    cursor: zoom-in;
}

#p1 {
    position: absolute;
    width: 40%;
    top: 25%;
    right: 25%;
    font-size: min(32px, calc(12px + 2vw));
    cursor: zoom-in;
    text-align: center;
}

#p2 {
    position: absolute;
    width: 40%;
    top: 40%;
    right: 5%;
    font-size: min(32px, calc(12px + 2vw));
    cursor: zoom-in;
    text-align: center;
}

#p3 {
    position: absolute;
    width: 40%;
    top: 55%;
    right: 25%;
    font-size: min(32px, calc(12px + 2vw));
    cursor: zoom-in;
    text-align: center;
}

#p4 {
    position: absolute;
    width: 40%;
    top: 80%;
    right: 5%;
    font-size: min(32px, calc(12px + 2vw));
    cursor: zoom-in;
    text-align: center;
}

.blurry {
    filter: blur(10px);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
}

.clear {
    animation: enhance 0.5s;
}

@keyframes enhance {
    0% {filter: blur(10px);}
    100% {filter: blur(1px);}
}
